<div class="member-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 sidebar">
				<div class="card">
					<div class="card-header">
						<h4>Manage Your Acount</h4>
						<h6>I Ketut Gede Baskara</h6>
					</div>
					<div class="card-body">
						<ul>
							<li><a href=""><i class="fa fa-history"></i> Purchase History</a></li>
							<li><a href=""><i class="fa fa-user"></i> My Profile</a></li>
							<li><a href=""><i class="fa fa-home"></i> Manage Address</a></li>
							<li><a href=""><i class="fa fa-shopping-cart"></i> Saved Cart</a></li>
							<li><a href=""><i class="fa fa-sign-out"></i> Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 address">
				<h4><i class="fa fa-check-circle"></i> Alamat 1 <span><a href="">Edit</a></span></h4>
				<table class="table">
					<tbody>
						<tr>
							<td width="30%">Alamat</td>
							<td>Jl. Diponegoro No.253</td>
						</tr>
						<tr>
							<td>Provinsi</td>
							<td>Jawa Tengah</td>
						</tr>
						<tr>
							<td>Kota</td>
							<td>Ungaran Timur</td>
						</tr>
						<tr>
							<td>Kode Pos</td>
							<td>50512</td>
						</tr>
						<tr>
							<td>Nama Penerima</td>
							<td>I Ketut Gede Baskara</td>
						</tr>
						<tr>
							<td>No. Telp</td>
							<td>089317474373</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4><i class="fa fa-check-circle"></i> Tambah Alamat Baru <span><a href="">Add</a></span></h4>
				<form>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Alamat</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Alamat">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Provinsi</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Provinsi Pengiriman">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Kota</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Kota Pengiriman">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Nama Penerima</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Nama Penerima Barang Ekspedisi">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Nomor Telepon</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="081 xxxx xxxx">
						</div>
					</div>
					<div class="action">
						<a href="" class="btn btn-dark">Tambah</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
