<section class="shipping-section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/cart">Keranjang Belanja</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/shipping">Pengiriman dan Pembayaran</a></li>
            <li class="breadcrumb-item" aria-current="page">Selesai</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="shipping-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 content">
				<div class="alamat">
					<h4>Pilih Alamat Online Shipping</h4>
					<p>Via Standard Shipping</p>
					<div class="row">
						<div class="col-md-6">
							<div class="box-address">
								<div class="custom-control custom-radio">
									<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio1"></label>
								</div>
								<div class="name">I Ketut Gede Baskara</div>
								<div class="address">Jl. Diponegoro No.253</div>
								<div class="province">Ungaran Timur</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="box-address">
								<div class="custom-control custom-radio">
									<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio2"></label>
								</div>
								<div class="name">I Ketut Gede Baskara</div>
								<div class="address">Jl. Dwi Pangga</div>
								<div class="province">Semarang</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="box-address">
								<div class="custom-control custom-radio">
									<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio3"></label>
								</div>
								<h5><i class="fa fa-plus"></i> Tambah Baru</h5>
							</div>
						</div>
					</div>
					<form>
						<div class="form-group row">
							<label for="colFormLabel" class="col-sm-3 col-form-label">Nama Penerima</label>
							<div class="col-sm-8">
								<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Nama Penerima">
							</div>
						</div>
						<div class="form-group row">
							<label for="colFormLabel" class="col-sm-3 col-form-label">Nomor Telepon</label>
							<div class="col-sm-8">
								<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Nomor Telepon">
							</div>
						</div>
						<div class="form-group row">
							<label for="colFormLabel" class="col-sm-3 col-form-label">Alamat</label>
							<div class="col-sm-8">
								<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Alamat" style="margin-bottom: 16px">
							</div>
							<div class="col-sm-8 offset-sm-3">
								<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Province" style="margin-bottom: 16px">
							</div>
							<div class="col-sm-8 offset-sm-3">
								<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Options" style="margin-bottom: 16px">
							</div>
						</div>
					</form>
				</div>
				<hr>
				<div class="ekspedisi">
					<h4>Pilih Jenis Ekspedisi</h4>
					<p>Via Standard Shipping</p>
					<div class="row">
						<div class="col-md-6">
							<div class="box-address">
								<div class="custom-control custom-radio">
									<input type="radio" id="customRadioEks1" name="customRadioEks" class="custom-control-input">
									<label class="custom-control-label" for="customRadioEks1"></label>
								</div>
								<div class="name">SICEPAT REG</div>
								<div class="price">18.000</div>
								<small>18.000 x 1kg</small>
							</div>
						</div>
					</div>
					<small>** Anda hanya dikenakan Rp. 2.200 untuk asuransi</small>
					<form>
						<div class="form-group">
							<label for="formGroupExampleInput">Example label</label>
							<textarea name="" id="" cols="30" rows="3" class="form-control custom-form"></textarea>
						</div>
					</form>
				</div>
				<hr>
				<div class="jenis">
					<h4>Pilih Jenis Pembayaran</h4>
					<p>Silahkan pilih di bawah ini</p>
					<div class="row">
						<div class="col-md-6">
							<div class="box-address">
								<div class="custom-control custom-radio">
									<input type="radio" id="customRadioPmb1" name="customRadioPmb" class="custom-control-input">
									<label class="custom-control-label" for="customRadioPmb1"></label>
								</div>
								<div class="name">Bank Transfer</div>
								<small>BCA, Mandiri</small>
							</div>
						</div>
					</div>
				</div>
				<div class="action float-right">
					<a href="" class="btn btn-dark"><i class="fa fa-lock"></i> Finish</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12 rekap">
					<div class="title">
						Rekap Belanja
					</div>
					<ul>
						<li>Total Belanja <span>Rp. 68.000,-</span></li>
					</ul>
					<ul class="grand">
						<li>Grand Total <span>Rp. 68.000,-</span></li>
					</ul>
		        </div>
			</div>
		</div>
	</div>
</div>