<div class="login-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 content">
				<h4>Login Member</h4>
				<form>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control custom-form" id="colFormLabel" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control custom-form" id="colFormLabel" placeholder="Password">
						</div>
					</div>
					<div class="action">
						<a href="" class="btn btn-dark"><i class="fa fa-sign-in"></i> Login</a> <br>
						<small> Lupa Password? <a href="">Klik Disini</a></small>
					</div>
				</form>
			</div>
			<div class="col-md-4 sidebar">
				<div class="col-md-12 new-arrival">
					<div class="title">
					New Arrival
					</div>
					<div class="content row">
						<div class="col-md-9 desc">
							<div class="name">TRUCKER GREY</div>
							<div class="price"><span>Rp. 250,000</span> Rp. 125,000</div>
						</div>
						<div class="col-md-3 thumb">
							<img src="http://i1.wp.com/petersaysdenimofficial.com/wp-content/uploads/2017/12/TRUCKER-GREY.jpg?resize=262%2C325" alt="">
						</div>
					</div>
					<div class="content row">
						<div class="col-md-9 desc">
							<div class="name">TRUCKER GREY</div>
							<div class="price"><span>Rp. 250,000</span> Rp. 125,000</div>
						</div>
						<div class="col-md-3 thumb">
							<img src="http://i1.wp.com/petersaysdenimofficial.com/wp-content/uploads/2017/12/TRUCKER-GREY.jpg?resize=262%2C325" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-12 cust-info">
					<div class="title">
						How To Buy
					</div>
					<ul>
						<li><a href="">How To Buy</a></li>
						<li><a href="">Payment Confirmation</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>