<section class="cart-section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/cart">Keranjang Belanja</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/shipping">Pengiriman dan Pembayaran</a></li>
            <li class="breadcrumb-item" aria-current="page">Selesai</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="cart-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 content">
				<div class="card">
					<div class="card-header">
						<h4 style="float: left;">My Cart</h4>
						<div class="btn-group btn-group-sm" role="group" style="float: right;">
						  <button type="button" class="btn btn-dark"><i class="fa fa-save"></i> Simpan Cart</button>
						  <button type="button" class="btn btn-secondary"><i class="fa fa-window-close"></i> Kosongkan Cart</button>
						 </div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" class="img-fluid" />
							</div>
							<div class="col-md-5">
								<div class="title">Navy Cotton 100% 40s Tee White Prints Non-Mercury</div>
								<small>SKUY 00892 <span> 1Kg</span></small>
								<div class="metode">
									<div class="cod">
										Online / COD Jakarta <span class="available">Stok Tersedia</span>
									</div>
									<div class="Pickup">
										Pickup	<span class="no-available">Jakarta</span><span class="available">Bandung</span>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<span>100.000</span>
								<select name="" id="selectQ">
									<option value="1">1</option>
									<option value="2">2</option>
								</select>
								<span class="sub-total float-right">100.000</span>
								<div class="delete text-right">
									<a href="#" class="text-danger">Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pengiriman">
					<h4>Pilih Jenis Pengiriman</h4>
					<p>Silahkan pilih salah satu jenis pengiriman yang anda inginkan</p>
					<div class="row">
						<div class="col-md-4">
							<div class="card po">
								<div class="card-header">
									<h5>Pengiriman Online</h5>
									<small>Pengiriman Via Sibabas</small>
									<i class="fa fa-paper-plane"></i>
								</div>
								<div class="card-body">
									<div class="custom-control custom-radio">
									  <input type="radio" id="standard" name="pengiriman" class="custom-control-input">
									  <label class="custom-control-label" for="standard">Standard</label>
									  <label class="available float-right">Tersedia</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card cod">
								<div class="card-header">
									<h5>Cash On Delivery</h5>
									<small>Antar barang melalui kurir</small>
									<i class="fa fa-car"></i>
								</div>
								<div class="card-body">
									<div class="custom-control custom-radio">
									  <input type="radio" id="codjakarta" name="pengiriman" class="custom-control-input">
									  <label class="custom-control-label" for="codjakarta">Jakarta</label>
									  <label class="available float-right">Tersedia</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card pis">
								<div class="card-header">
									<h5>Pickup in Store</h5>
									<small>Pengambilan barang tanpa antri</small>
									<i class="fa fa-shopping-cart"></i>
								</div>
								<div class="card-body">
									<div class="custom-control custom-radio">
									  <input type="radio" id="jakarta" name="pengiriman" class="custom-control-input">
									  <label class="custom-control-label" for="jakarta">Jakarta</label>
									  <label class="no-available float-right">Kosong</label>
									</div>
									<div class="custom-control custom-radio">
									  <input type="radio" id="bandung" name="pengiriman" class="custom-control-input">
									  <label class="custom-control-label" for="bandung">Bandung</label>
									  <label class="available float-right">Tersedia</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="action float-right">
					<a href="" class="btn btn-outline-dark"><i class="fa fa-shopping-cart"></i> Lanjut Belanja</a>
					<a href="" class="btn btn-dark"><i class="fa fa-lock"></i> Lanjut ke Pembayaran</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="col-md-12 rekap">
					<div class="title">
						Rekap Belanja
					</div>
					<ul>
						<li>Total Belanja <span>Rp. 68.000,-</span></li>
					</ul>
					<ul class="grand">
						<li>Grand Total <span>Rp. 68.000,-</span></li>
					</ul>
		        </div>
			</div>
		</div>
	</div>
</div>