<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 logo">
        <img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/10/logopsd.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-8 menu">
        <ul>
          <li>Home</li>
          <li>Men's
            <ul>
              <li>Tees</li>
              <li>Pants</li>
              <li>Jackets</li>
            </ul>
          </li>
          <li>Woman
            <ul>
              <li>Tees</li>
              <li>Pants</li>
              <li>Jackets</li>
            </ul>
          </li>
          <li>Accessories</li>
          <li>Reseller</li>
          <li><i class="fa fa-shopping-cart"></i> Cart</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title">
          Contact Us
        </div>
        <div class="description">
          petersaysdenim.order@gmail.com <br>
          +62 8122 1657 223 <br>
          Line ID : petersaysdenimorder <br>
          Jl Wijaya II Blok A No. 11-12 A/B
          Wijaya Graha Puri, Kebayoran Baru
          Jakarta Selatan, DKI Jakarta 40115
        </div>
      </div>
      <div class="col-md-4">
        <div class="title">
          PETERSAYSDENIM
        </div>
        <div class="description">
          <a href="">About Us</a> <br>
          <a href="">Contact Us</a> <br>
          <a href=""> Term And Condition</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="title">
          PAYMENT METHOD
        </div>
        <div class="description">
          <img src="https://i2.wp.com/petersaysdenimofficial.com/wp-content/uploads/2017/11/Bank-bca-mandiri.png?resize=300%2C67" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; Copyright yang ngedesain petersaysdenim, karena ini ngopy.
    </div>
  </div>
</div>
