<section class="detail-section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Detail</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="detail-section-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 content">
        <div class="row">
          <div class="col-md-6 image">
            <div class="main-image">
                <img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" alt=""/>
            </div>
            <div class="thumbnail">
              <div class="row">
                <div class="col-md-3 col-sm-4 thumb-img">
                    <img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" alt=""/>
                </div>
                <div class="col-md-3 col-sm-4 thumb-img">
                    <img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" alt=""/>
                </div>
                <div class="col-md-3 col-sm-4 thumb-img">
                    <img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" alt=""/>
                </div>
                <div class="col-md-3 col-sm-4 thumb-img">
                    <img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" alt=""/>
                </div>
                <div class="col-md-3 col-sm-4 thumb-img">
                    <img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" alt=""/>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 desc">
            <h2>Baju Bagus</h2>
            <h3>Rp. 100.000,-</h3>
            <form action="">
            <div class="row">
              <div class="col-md-6 title">Size</div>
              <div class="col-md-6">
                <select name="" id="">
                  <option value="">-- Select --</option>
                  <option value="">XL</option>
                  <option value="">L</option>
                </select>
              </div>
              <div class="col-md-6 title">Deskripsi</div>
              <div class="col-md-6">Navy Cotton 100% 40s Tee <br> White Prints Non-Mercury</div>
              <div class="col-md-6 title">Berat Produk</div>
              <div class="col-md-6">1 Kg</div>
              <div class="col-md-6 title">Kategori</div>
              <div class="col-md-6">Tees</div>
              <div class="col-md-6 title">Kode Produk</div>
              <div class="col-md-6">SKUY 00892</div>
              <div class="col-md-6 title">Jumlah Beli</div>
              <div class="col-md-6"><input type="number" class="form-control" placeholder="1"></div>
            </div>
            <a href="" class="btn btn-beli"><i class="fa fa-shopping-cart"></i> Beli</a>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4 sidebar">
        <div class="col-md-12 new-arrival">
          <div class="title">
            New Arrival
          </div>
          <div class="content row">
            <div class="col-md-9 desc">
              <div class="name">TRUCKER GREY</div>
              <div class="price"><span>Rp. 250,000</span> Rp. 125,000</div>
            </div>
            <div class="col-md-3 thumb">
              <img src="http://i1.wp.com/petersaysdenimofficial.com/wp-content/uploads/2017/12/TRUCKER-GREY.jpg?resize=262%2C325" alt="">
            </div>
          </div>
          <div class="content row">
            <div class="col-md-9 desc">
              <div class="name">TRUCKER GREY</div>
              <div class="price"><span>Rp. 250,000</span> Rp. 125,000</div>
            </div>
            <div class="col-md-3 thumb">
              <img src="http://i1.wp.com/petersaysdenimofficial.com/wp-content/uploads/2017/12/TRUCKER-GREY.jpg?resize=262%2C325" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-12 cust-info">
          <div class="title">
            How To Buy
          </div>
          <ul>
            <li><a href="">How To Buy</a></li>
            <li><a href="">Payment Confirmation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>