<div class="member-section">
	<div class="container">
		<div class="row">
			<div class="col-md-4 sidebar">
				<div class="card">
					<div class="card-header">
						<h4>Manage Your Acount</h4>
						<h6>I Ketut Gede Baskara</h6>
					</div>
					<div class="card-body">
						<ul>
							<li><a href=""><i class="fa fa-history"></i> Purchase History</a></li>
							<li><a href=""><i class="fa fa-user"></i> My Profile</a></li>
							<li><a href=""><i class="fa fa-home"></i> Manage Address</a></li>
							<li><a href=""><i class="fa fa-shopping-cart"></i> Saved Cart</a></li>
							<li><a href=""><i class="fa fa-sign-out"></i> Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 profile">
				<h2>My Profile</h2>
				<h4>Basic Information <span><a href="">Edit</a></span></h4>
				<table class="table">
					<tbody>
						<tr>
							<td><i class="fa fa-user"></i></td>
							<td>I Ketut Gede Baskara</td>
						</tr>
						<tr>
							<td><i class="fa fa-envelope"></i></td>
							<td>iketut.gdb@gmail.com</td>
						</tr>
						<tr>
							<td><i class="fa fa-phone"></i></td>
							<td>081931747687</td>
						</tr>
						<tr>
							<td><i class="fa fa-map-marker"></i></td>
							<td>Lorem ipsum dolor sit amet.
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4>Edit Basic Information</h4>
				<form>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Nama</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="I Ketut Gede Baskara">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control custom-form" id="colFormLabel" placeholder="iketut.gdb@gmail.com">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Nomor Telepon</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="081931747687">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Alamat</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Alamat">
						</div>
						<div class="col-sm-8 offset-sm-3" style="margin-top: 15px">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Provinsi">
						</div>
						<div class="col-sm-8 offset-sm-3" style="margin-top: 15px">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Kota">
						</div>
						<div class="col-sm-8 offset-sm-3" style="margin-top: 15px">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Kode Pos">
						</div>
					</div>
					<div class="action">
						<a href="" class="btn btn-dark">Edit</a>
					</div>
				</form>
				<hr>
				<h4>Security <span><a href="">Ubah Password</a></span></h4>
				<table class="table">
					<tbody>
						<tr>
							<td>Password</td>
							<td>*******</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h4>Edit Password</h4>
				<form>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Old Password</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Old Password">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">New Password</label>
						<div class="col-sm-8">
							<input type="email" class="form-control custom-form" id="colFormLabel" placeholder="New Password">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Repeat New Password</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Repeat New Password">
						</div>
					</div>
					<div class="action">
						<a href="" class="btn btn-dark">Edit</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
