/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
	font-family: 'Roboto', sans-serif;
}

.header{
	background:#000;
	padding: 30px 0 30px 0;
	.logo{
		img{
			height:80px;
		}
	}
	.menu{
		color:#fff;
		text-align: right;
		padding: 15px 0 0 0;
		ul{
			display: inline-block;
			list-style-type: none;
			cursor: pointer;
			li{
				float: left;
				padding: 10px 15px 10px 15px;
				position: relative;
				ul{
					display: none;
				}
				&:hover{
					color:#000;
					ul{
						position: absolute;
						top:100%;
						left:0;
						display: block;
						margin:0;
						z-index: 1;
						padding:0 0 0 15px;
						li{
							background:#fff;
							color:#000;
							padding: 10px;
							width: 150px;
							text-align: left;
							&:hover{
								background: #000;
								color:#fff;
							}
						}
					}
				}
			}
		}
	}
}
.slider{
	height: 600px;
	width:100%;
	position: relative;
	margin-top: 30px;
	.carousel-item{
		height:600px;
		img{
			width: 100%;
		}
	}
}
.main{
	padding:50px 0 20px 0;
	.container{
		.row{
			.sidebar{
				.new-arrival{
					border:1px solid #f1f1f1;
					color:#999999;
					padding:20px;
					margin-bottom: 50px;
					.title{
						font-size: 22px;
						font-weight: bold;
						color:#000;
						position: relative;
						&:after{
							content:'';
							position: absolute;
							bottom:-5px;
							left:0;
							border-bottom: 3px solid #000;
							width: 50%;
						}
					}
					.content{
						padding:20px 0 10px 0;
						.desc{
							span{
								text-decoration:line-through;
							}
						}
						.thumb{
							text-align: right;
							img{
								width: 50px;
								height: 50px;
							}
						}
					}
				}
				.cust-info{
					border:1px solid #f1f1f1;
					color:#999999;
					padding:20px;
					.title{
						font-size: 22px;
						font-weight: bold;
						color:#000;
						position: relative;
						&:after{
							content:'';
							position: absolute;
							bottom:-5px;
							left:0;
							border-bottom: 3px solid #000;
							width: 50%;
						}
					}
					ul{
						list-style-type: none;
						margin:0;
						padding: 20px 0 10px 0;
						li{
							a{
								color: #999999;
							}
						}
					}
				}
			}
			.product{
				.before-shop{
					border:1px solid #f1f1f1;
					padding:15px;
					color:#999999;
					font-size: 12px;
					select{
						float: right;
						font-size: 10px; 
						padding: 2px;
						border:0;
					}
				}
				.product-list{
					color:#999999;
					margin-top: 20px;
					ul{
						padding: 0;
						list-style-type: none;
						width: 100%;
						display: inline-block;
						a{
							float: left;
							border:1px solid #f1f1f1;
							padding:15px;
							width: 30%;
							margin-bottom: 20px;
							text-align: center;
							position: relative;
							text-decoration: none;
							&:nth-child(3n+2){
								margin:0 5% 0 5%;
							}
							&:after{
								position: absolute;
								top:0;
								right:0;
								content: 'Sale!';
								background: #000;
								color:#fff;
								font-size: 10px;
								padding:5px;
							}
							.title{
								font-weight: bold;
								color: #000;
								padding: 10px 0 10px 0;
							}
							.price{
								color: #000;
								font-size: 14px;
								.disc{
									text-decoration: line-through;
									color:#999999;
								}
							}
							button{
								margin:10px;
								border: 1px solid #000;
								background:#fff;
								font-size: 14px;
								cursor: pointer;
								&:hover{
									color:#fff;
									background: #000;
								}
							}
						}
					}
				}
				.pagging{
					.pagination{
						.page-item{
							.page-link{
								color:#000;
								&:focus{
									outline: none !important;
									box-shadow: 0 0 0;
								}
							}
						}
						.active{
							.page-link{
								color:#fff;
								background:#000;
								border-color:#000;
							}
						}
						.disabled{
							.page-link{
								color:#eee;
								background:#000;
								border: 1px solid #000;
							}
						}
					}
				}
			}
		}
	}
}
.footer{
	background:#F9F9F9;
	border-top: 1px solid #f1f1f1;
	.title{
		font-size: 22px;
		font-weight: bold;
		color:#000;
		position: relative;
		padding: 50px 0 20px 0;
		&:after{
			content:'';
			position: absolute;
			bottom:10px;
			left:0;
			border-bottom: 3px solid #000;
			width: 50%;
		}
	}
	.description{
		margin-bottom: 20px;
		color: #999999;
		a{
			color:#999999;
		}
	}
	.copyright{
		border-top: 1px solid #f1f1f1;
		padding:10px 0 20px 0;
		color:#999999;
		font-size: 10px;
		text-align: center;
	}
}

.breadcrumb{
	padding: 5px 15px;
	.breadcrumb-item{
		a{
			color:#000;
		}
	}
	.active{
		a{
			color: #5294e2;
		}
	}
}

.detail-section-2{
	padding: 30px 0;
	.sidebar{
		.new-arrival{
			border:1px solid #f1f1f1;
			color:#999999;
			padding:20px;
			margin-bottom: 50px;
			.title{
				font-size: 22px;
				font-weight: bold;
				color:#000;
				position: relative;
				&:after{
					content:'';
					position: absolute;
					bottom:-5px;
					left:0;
					border-bottom: 3px solid #000;
					width: 50%;
				}
			}
			.content{
				padding:20px 0 10px 0;
				.desc{
					span{
						text-decoration:line-through;
					}
				}
				.thumb{
					text-align: right;
					img{
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.cust-info{
			border:1px solid #f1f1f1;
			color:#999999;
			padding:20px;
			.title{
				font-size: 22px;
				font-weight: bold;
				color:#000;
				position: relative;
				&:after{
					content:'';
					position: absolute;
					bottom:-5px;
					left:0;
					border-bottom: 3px solid #000;
					width: 50%;
				}
			}
			ul{
				list-style-type: none;
				margin:0;
				padding: 20px 0 10px 0;
				li{
					a{
						color: #999999;
					}
				}
			}
		}
	}
	.content{
		.image{
			border-right: 1px solid rgba(0,0,0,0.1);
			.main-image{
				padding: 15px;
				padding-bottom: 0;
				img{
					width: 100%;
				}
			}
			.thumbnail{
				padding: 0 15px;
				.row{
					padding: 15px;
				}
				.thumb-img{
					border: 1px solid rgba(0,0,0,0.2);
					padding: 0;
					margin: 5px 5px;
					height: 80px;
					display: block;
					overflow: hidden;
					position: relative;
					img{
						position: absolute;
						width: 80%;
						left: 50%;
						top: 0;
						transform:translateX(-50%);
					}
				}
			}
		}
		.desc{
			font-size: 14px;
			h2{
				font-size: 24px;
				font-weight: bold;
				text-transform: uppercase;
			}
			h3{
				font-size: 18px;
				font-weight: bold;
			}
			.title{
				position: relative;
				&:after{
					content: ':';
					position: absolute;
					right: 0;
				}
			}
			.col-md-6{
				padding: 5px 15px;
			}
			select{
				width: 100%;
			}
			input{
				font-size: 12px;
				width: 50px;
			}
			.btn-beli{
				color: #fff;
				background: #000;
				&:hover{
					background: #003366;
				}
			}
		}
	}
} 

.cart-section-2{
	.content{
		padding-bottom: 15px;
		.card-header{
			background: transparent;
		}
		.available{
			color: green;
			margin:0;
		}
		.no-available{
			text-decoration: line-through;
			margin: 0;
		}
		.metode{
			font-size: 12px;
			span{
				padding: 0 5px;
			}
		}
		.pengiriman{
			margin-top: 30px;
			h4{
				margin: 0;
			}
			p{
				font-size: 14px;
			}
			.card{
				.card-header{
					color:#fff;
					position: relative;
					h5{
						margin:0;
						font-size: 16px;
						font-weight: bold;
					}
					small{
						font-size: 9px;
					}
					i{
						position: absolute;
						right: 15px;
						top: 15px;
						font-size: 40px;
						color:#eee;
						opacity: 0.4;
					}
				}
				.card-body{
					font-size: 14px;
				}
			}
			.po{
				.card-header{
					background: #383c4a;
				}
			}
			.cod{
				.card-header{
					background: #404552;
				}
			}
			.pis{
				.card-header{
					background: #4b5162;
				}
			}
		}
		.action{
			padding-top: 30px;
		}
	}
	.rekap{
		border:1px solid #f1f1f1;
		color:#999999;
		padding:20px;
		.title{
			font-size: 22px;
			font-weight: bold;
			color:#000;
			position: relative;
			&:after{
				content:'';
				position: absolute;
				bottom:-5px;
				left:0;
				border-bottom: 3px solid #000;
				width: 50%;
			}
		}
		ul{
			list-style-type: none;
			margin:0;
			padding: 20px 0 10px 0;
			li{
				span{
					float:right;
				}
			}
		}
		.grand{
			padding:0;
			li{
				span{
					float:right;
					font-weight:bold;
				}
			}
		}
	}
}

.shipping-section-2{
	.content{
		padding-bottom: 15px;
		h4{
			margin: 0;
		}
		p{
			font-size: 14px;
		}
		.box-address{
			display: block;
			border:1px solid rgba(0,0,0,0.2);
			padding: 8px 15px;
			margin-bottom: 10px;
			position: relative;
			.custom-radio{
				position: absolute;
				z-index: 2;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				.custom-control-label{
					position: absolute;
					top: 0;
					right: 20px;
				}
			}
			h5{
				margin: 0;
				font-size: 18px;
			}
			.name{
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		form{
			margin-top: 15px;
			.custom-form{
				border-radius: 0;
				border:1px solid rgba(0,0,0,0.2);
			}
		}
	}
	.rekap{
		border:1px solid #f1f1f1;
		color:#999999;
		padding:20px;
		.title{
			font-size: 22px;
			font-weight: bold;
			color:#000;
			position: relative;
			&:after{
				content:'';
				position: absolute;
				bottom:-5px;
				left:0;
				border-bottom: 3px solid #000;
				width: 50%;
			}
		}
		ul{
			list-style-type: none;
			margin:0;
			padding: 20px 0 10px 0;
			li{
				span{
					float:right;
				}
			}
		}
		.grand{
			padding:0;
			li{
				span{
					float:right;
					font-weight:bold;
				}
			}
		}
	}
}

.transaction-section-2{
	.content{
		padding-bottom: 15px;
		ol{
			margin:0;
		}
		.bank-list{
			padding: 15px 0;
			.no-rek{
				background: #eaeaea;
				padding: 10px 15px;
				img{
					padding: 10px 0;
				}
				h5{
					margin:0;
				}
			}
		}
		.description{
			padding: 15px 0;
		}
		.thanks{
			padding: 10px 0;
			.btn-dark{
				margin-top: 15px;
			}
		}
	}
}

.register-section-2{
	.content{
		padding: 15px 0;
		form{
			margin-top: 15px;
			.custom-form{
				border-radius: 0;
				border:1px solid rgba(0,0,0,0.2);
			}
			.action{
				text-align: center;
				.btn-dark{
					margin-top: 15px;
				}
			}
		}
	}
}

.login-section-2{
	.content{
		padding: 15px 0;
		form{
			margin-top: 15px;
			.custom-form{
				border-radius: 0;
				border:1px solid rgba(0,0,0,0.2);
			}
			.action{
				text-align: center;
				.btn-dark{
					margin-top: 15px;
				}
			}
		}
	}
	.sidebar{
		padding: 15px 0;
		.new-arrival{
			border:1px solid #f1f1f1;
			color:#999999;
			padding:20px;
			margin-bottom: 50px;
			.title{
				font-size: 22px;
				font-weight: bold;
				color:#000;
				position: relative;
				&:after{
					content:'';
					position: absolute;
					bottom:-5px;
					left:0;
					border-bottom: 3px solid #000;
					width: 50%;
				}
			}
			.content{
				padding:20px 0 10px 0;
				.desc{
					span{
						text-decoration:line-through;
					}
				}
				.thumb{
					text-align: right;
					img{
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.cust-info{
			border:1px solid #f1f1f1;
			color:#999999;
			padding:20px;
			.title{
				font-size: 22px;
				font-weight: bold;
				color:#000;
				position: relative;
				&:after{
					content:'';
					position: absolute;
					bottom:-5px;
					left:0;
					border-bottom: 3px solid #000;
					width: 50%;
				}
			}
			ul{
				list-style-type: none;
				margin:0;
				padding: 20px 0 10px 0;
				li{
					a{
						color: #999999;
					}
				}
			}
		}
	}
}

.member-section{
	padding: 15px 0;
	.sidebar{
		.card{
			.card-body{
				padding: 0;
				ul{
					margin: 0;
					padding: 0;
					list-style: none;
					li{
						a{
							display: block;
							padding: 15px;
							text-decoration: none;
							color: #000;
							&:hover{
								background: #eaeaea;
							}
						}
					}
				}
			}
		}
	}
	.purchase{
		h4{
			span{
				color: red;
				font-size: 12px;
			}
		}
		.filter{
			padding: 15px 0;
		}
		.list{
			border-bottom: 1px solid #000;
			padding: 10px 0;
			margin-bottom: 15px;
			h5{
				span{
					font-size: 12px;
					color: orange;
				}
			}
		}
	}
	.address{
		h4{
			span{
				a{
					font-size: 12px;
				}
			}
		}
		form{
			margin-top: 15px;
			.custom-form{
				border-radius: 0;
				border:1px solid rgba(0,0,0,0.2);
			}
		}
	}
	.profile{
		h4{
			span{
				a{
					font-size: 12px;
				}
			}
		}
		form{
			margin-top: 15px;
			.custom-form{
				border-radius: 0;
				border:1px solid rgba(0,0,0,0.2);
			}
		}
	}
}

.confirmation-section-2{
	.content{
		padding: 15px 0;
		form{
			margin-top: 15px;
			.custom-form{
				border-radius: 0;
				border:1px solid rgba(0,0,0,0.2);
			}
			.action{
				text-align: center;
				.btn-dark{
					margin-top: 5px;
				}
			}
		}
		.card-header{
			background: #000;
		}
	}
	.sidebar{
		padding: 15px 0;
		.new-arrival{
			border:1px solid #f1f1f1;
			color:#999999;
			padding:20px;
			margin-bottom: 50px;
			.title{
				font-size: 22px;
				font-weight: bold;
				color:#000;
				position: relative;
				&:after{
					content:'';
					position: absolute;
					bottom:-5px;
					left:0;
					border-bottom: 3px solid #000;
					width: 50%;
				}
			}
			.content{
				padding:20px 0 10px 0;
				.desc{
					span{
						text-decoration:line-through;
					}
				}
				.thumb{
					text-align: right;
					img{
						width: 50px;
						height: 50px;
					}
				}
			}
		}
		.cust-info{
			border:1px solid #f1f1f1;
			color:#999999;
			padding:20px;
			.title{
				font-size: 22px;
				font-weight: bold;
				color:#000;
				position: relative;
				&:after{
					content:'';
					position: absolute;
					bottom:-5px;
					left:0;
					border-bottom: 3px solid #000;
					width: 50%;
				}
			}
			ul{
				list-style-type: none;
				margin:0;
				padding: 20px 0 10px 0;
				li{
					a{
						color: #999999;
					}
				}
			}
		}
	}
}