<section class="transaction-section-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/cart">Keranjang Belanja</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/shipping">Pengiriman dan Pembayaran</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/transaction">Selesai</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="transaction-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 content">
				<div class="cara">
					<h4>Cara Pembayaran dengan Transfer Bank</h4>
					<ol>
						<li>Transfer melalui ATM, Internet Banking, atau Mobile Banking Anda</li>
						<li>Pilih tujuan transfer dari salah satu bank dan nomor rekening yang tertera di bawah</li>
						<li>Masukkan jumlah transfer disertai kode unik yaitu : <b>Rp. 89.092</b> (Kode Unik : 92)</li>
					</ol>
					<small><i class="fa fa-info-circle"></i> Kode unik merupakan angka yang ditambahkan ke 2 digit terakhir pada nominal transfer, untuk mempermudah sistem kami dalam melakukan pengecekan pembayaran.</small>
					<div class="col-md-12 row bank-list">
						<div class="col-md-4 text-center">
							<div class="no-rek">
								<img src="https://upload.wikimedia.org/wikipedia/id/thumb/e/e0/BCA_logo.svg/1280px-BCA_logo.svg.png" alt="" class="img-fluid">
								<h5>7010 1200 17</h5>
								<small>a/n Cecep Cecpi</small>
								<small>Cab. Central Parking Lot</small>
							</div>
						</div>
						<div class="col-md-4 text-center">
							<div class="no-rek">
								<img src="https://upload.wikimedia.org/wikipedia/id/thumb/f/fa/Bank_Mandiri_logo.svg/1280px-Bank_Mandiri_logo.svg.png" alt="" class="img-fluid">
								<h5>7010 1200 17</h5>
								<small>a/n Cecep Cecpi</small>
								<small>Cab. Central Parking Lot</small>
							</div>
						</div>
					</div>
					<small>Pembayaran otomatis terdeteksi dalam waktu maksimal 60 menit apabila anda mentransfer menggunakan kode unik.</small>
					<small>Anda mentransfer tanpa kode unik? silahkan konfirmasi pembayaran melalui <a href=""> Halaman Konfirmasi Pembayaran</a></small>
					<div class="description">
						<h5>Catatan pembayaran yang perlu diketahui untuk pemrosesan pesanan Anda :</h5>
						<ul>
							<li>Laukakn pembayaran sesegera mungkin untuk menghindari kehabisan stok.</li>
							<li>Diharapkan untuk melakukan pembayaran transfer menggunakan kode unik agar pesanan anda bisa segera diproses secara otomatis oleh sistem kami.</li>
							<li>Apabila tidak menggunakan kode unik</li>
							<li>Pesanan yang pembayarannya telah diterima akan diproses selama hari kerja</li>
							<li>Invoice ini bukan sebagai bukti booking prosuk pesanan, booking akan dilakukan bilamana invoice telah dilunasi.</li>
						</ul>
					</div>
				</div>
				<hr>
				<div class="thanks">
					<h4>Terimakasih telah berbelanja di Jakarta</h4>
					<h5>Kode Invoice : <b>HJ8BV</b></h5>
					<h5>Total Belanja : <b>Rp. 89.092</b></h5>
					<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates repudiandae nam harum commodi in rerum magni molestiae doloribus recusandae, temporibus impedit quos distinctio incidunt, at eligendi voluptate, blanditiis voluptatum eius.</small>
					<a href="" class="btn btn-dark"><i class="fa fa-download"></i> Download Invoice</a>
				</div>
				<hr>
				<div class="barang">
					<h4>Barang yang dibeli</h4>
					<div class="row">
						<div class="col-md-3">
							<img src="http://petersaysdenimofficial.com/wp-content/uploads/2017/11/Navy-logo-555x783.jpg" class="img-fluid" />
						</div>
						<div class="col-md-5">
							<div class="title">Navy Cotton 100% 40s Tee White Prints Non-Mercury</div>
							<small>SKUY 00892 <span> 1Kg</span></small>
							<div class="metode">
								<div class="cod">
									Online / COD Jakarta <span class="available">Stok Tersedia</span>
								</div>
								<div class="Pickup">
									Pickup	<span class="no-available">Jakarta</span><span class="available">Bandung</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<span>100.000</span>
							<span>x 1</span>
							<span class="sub-total float-right">100.000</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>