<div class="register-section-2">
	<div class="container">
		<div class="row">
			<div class="col-md-8 content">
				<h4>Daftar Member</h4>
				<form>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Nama Lengkap</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Nama Lengkap">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Email</label>
						<div class="col-sm-8">
							<input type="email" class="form-control custom-form" id="colFormLabel" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">No. Handphone</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Nomor Telepon / Handphone">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control custom-form" id="colFormLabel" placeholder="Password">
						</div>
					</div>
					<div class="form-group row">
						<label for="colFormLabel" class="col-sm-3 col-form-label">Captcha</label>
						<div class="col-sm-4">
							<div class="input-group mb-3">
								<img src="https://www.popsci.com/sites/popsci.com/files/styles/1000_1x_/public/import/2014/Captcha.png?itok=EgDRvg75" style="height: 38px;" class="form-control custom-form">
								<div class="input-group-append">
									<button class="btn btn-outline-dark" type="button"><i class="fa fa-retweet"></i></button>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<input type="text" class="form-control custom-form" id="colFormLabel" placeholder="Captcha" style="margin-bottom: 16px">
						</div>
					</div>
					<div class="action">
						<small>Dengan mendaftar, anda menyetujui <a href="">Syarat dan Ketentuan</a> yang berlaku</small> <br>
						<a href="" class="btn btn-dark">Daftar</a>
					</div>
				</form>
			</div>
			<div class="col-md-4 content">
				<div class="action">
					<small>Sudah Punya Akun?</small> <br>
					<a href="" class="btn btn-dark"><i class="fa fa-sign-in"></i> Login</a>
				</div>
			</div>
		</div>
	</div>
</div>